#sobre {
    background-color: var(--azul-escuro);
    padding: 0;

    .itens {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 20px 0;
    }

    .item {
        display: flex;
        flex-direction: column;
        align-items: center;

        background: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.33);
        border-radius: 5px;
     
        height: 250px;
        width: 200px;
        margin: 100px 50px;

        padding: 30px;
        text-align: center;

        position: relative;

        &-img {
            // margin-bottom: 30px;
            // width: 130px;
            // height: auto;

            // padding: 25px;
            position: absolute;
            top: -60px;

            
        }
        .calender {
            top: -40px;
        }
        h3 {
            padding-bottom: 30px;
            color: var(--azul-escuro);
            font-size: 20px;
        }

        &-txt{
            margin-top: 90px;
        }
    }
}


@media (max-width: 994px) {
    #sobre {
        .itens {
            flex-direction: column;
        }
    }
}